@media (max-width: 1200px)
    .main-container
        max-width: 960px
    .header
        &-top
            &__button
                padding: 0
    .compilation
        padding: 18px
        &__item
            max-width: 220px
            padding-right: 13px
        &__text
            font-size: 14px
    .list
        padding: 0
        &__title
            padding-left: 15px
        &__item
            padding-left: 15px
            padding-top: 10px
    .grid
        &__container
            grid-template-rows: repeat(4, minmax(min-content, 0.5fr))
        &-item
            &__main
                flex-basis: 35%
                padding-left: 20px
            &__category
                margin: 10px 0
            &__title
                &--car
                    margin-top: 0
                    margin-bottom: 10px
                &--art
                    font-size: 14px
                    line-height: 23px
                    margin-top: 0
                    margin-bottom: 0
            &__text
                font-size: 14px
                line-height: 18px
            &__image
                &--car
                    height: 71%
            &__minor
                padding-left: 20px
                padding-right: 20px
            &__name
                font-size: 13px
                line-height: 18px
                &--jenkins
                    margin-right: 0
                    flex-basis: 64%
                    align-self: center
            &__text-comment
                font-size: 13px
                line-height: 18px
            &__popular
                margin-bottom: 70px
            &__author
                &--2
                    flex-direction: row
                    max-height: 60px
            &__avatar
                &--45
            &__info
                flex-basis: 100%   
    .grid
        &__item
            padding-top: 30px         
@media (max-width: 992px)
    .main-container
        max-width: 700px
    .header
        font-size: 12px
        line-height: 15px
        &-bottom
            &__text
                grid-column: 2 / 5
            &__logo
                width: 150px
                grid-column: 6 / 8
    .button
        &__lines
            margin-right: 10px
        &__sections
            font-size: 12px
            line-height: 15px
    .compilation
        flex-wrap: wrap
        &__item
            max-width: 50%
            &:nth-child(1)
                margin-bottom: 20px
                padding-right: 96px
            &:nth-child(2)
                border-right: none
                padding-right: 0
                margin-bottom: 20px
            &:nth-child(3)
                padding-right: 96px
    .content
        &__item
            padding: 40px 40px 75px 40px
        &__author
            margin-bottom: 100px
        &__title
            font-size: 30px
            line-height: 36px
        &__more
            flex-basis: 25%
            font-size: 12px
            line-height: 16px
            padding-left: 15px
            padding-right: 15px
            margin-right: 15px
        &__location
            font-size: 12px
            line-height: 16px
            max-width: 157px
    .list
        &__title
            font-size: 12px
            line-height: 16px
    .item
        &__title
            font-size: 10px
            line-height: 14px   
            margin-bottom: 4px    
        &__description     
            font-size: 12px
            line-height: 16px
@media (max-width: 768px)
    .main-container
        max-width: 576px
        width: 92%
    .button
        &__sections
            display: none
    .header
        font-size: 11px
        line-height: 14px
        &-top
            &__stories
                display: none
        &-bottom
            &__logo
                width: 140px
            &__date
                grid-column: 11 / 13
                max-width: 90px
    .compilation
        &__text
            font-size: 12px
        &__item
            &:nth-child(1)
                padding-right: 34px
            &:nth-child(3)
                padding-right: 34px
    .recommendations
        &__tabs
            flex-wrap: wrap
        &__content
            flex-basis: 100%
            margin-bottom: 0
            max-height: 400px
            border-radius: 10px 10px 0 0
        &__list
            margin-top: 0
            border-radius: 0 0 10px 10px 
            max-height: 400px
    .content
        &__more
            max-width: 112px
        &__item
            padding: 30px 30px 35px 30px
    .list
        &__title
            padding-top: 10px
            padding-bottom: 10px
            align-self: center
        &__item
            padding-bottom: 10px
    .item
        &__select
            &--visible
                display: none
@media (max-width: 576px)
    .header
        &-bottom
            &__freedom
                display: none
            &__text
                display: none
            &__date
                grid-row: 1
                grid-column: 1 / 4
        &-subscribe
            display: none
    .compilation
        &__text
            font-size: 14px
            min-width: 65%
        &__item
            min-width: 100%
            border-right: none
            &:nth-child(1)
                padding-right: 0
            &:nth-child(3)
                padding-right: 0
                margin-bottom: 20px
    .content
        &__author
            margin-bottom: 50px
        &__name
            font-size: 12px
            line-height: 16px
        &__sign
            font-size: 10px
            line-height: 12px
        &__destinations
            display: none
        &__title
            font-size: 20px
            line-height: 26px
            margin: 0
        &__more
            flex-basis: 100%
        &__view-container
            flex-basis: 100%
        &__play
            padding: 7px
        &__location
            font-size: 10px
            line-height: 14px
                
        

