*
    box-sizing: border-box
body 
    font-family: 'Lato', sans-serif
.main-container
    max-width: 1140px
    margin: auto
    position: relative
.article-container
    max-width: 950px
    margin: auto
    position: relative
button
    cursor: pointer
    border: none
    outline: none    
form
    outline: none
.lock-scroll
    overflow-y: hidden
.thank-title    
    font-family: Roboto Slab
    font-style: normal
    font-weight: bold
    font-size: 40px
    line-height: 50px
.to-main
    font-size: 14px
    line-height: 20px
    color: #4B5157
    font-weight: bold
    text-decoration: underline
