.footer    
    &__subscribe
        padding-top: 60px
        padding-bottom: 70px
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
    &-subscribe
        &__title
            font-family: Roboto Slab
            font-style: normal
            font-weight: bold
            font-size: 40px
            line-height: 50px
        &__form
            display: flex
            flex-wrap: wrap
            align-items: center
            justify-content: center
        &__input
            position: relative
            font-style: normal
            font-weight: normal
            font-size: 14px
            line-height: 20px
            color: #939699
            margin-right: 10px
            border-radius: 5px
            border-color: #D9DADB
            border-style: solid
            padding: 10px 15px
            width: 100%
            &-group
                position: relative
                width: 313px
                margin-right: 10px
        &__button
            font-style: normal
            font-weight: bold
            font-size: 14px
            line-height: 20px
            color: $white
            padding: 10px 29px
            background-color: #4592FF
            border-radius: 20px
            min-height: 40px
    & label
        color: #ff0000
        font-size: 12px
        position: absolute
        bottom: -14px
        left: 0
    &__navigation
        border: 1px solid red
        display: flex
        justify-content: space-between

