.hero
    background-image: url(../img/hero/hero-1.png)
    &::after
        content: ''
        position: absolute
        width: 100%
        height: 100%
        top: 0
        right: 0
        bottom: 0
        left: 0
        background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35))
    &__container
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        padding: 60px 0
    &__destinations
        font-style: normal
        font-weight: bold
        font-size: 12px
        line-height: 15px
        letter-spacing: 0.5px
        text-transform: uppercase
        color: #4592FF
        z-index: 1
    &__nav
        flex-basis: 300px
        z-index: 1
    &__home
        text-decoration: none
        height: 17px
        margin-right: 31px
        &-icon
            width: 18px
            height: 17px
            margin-right: 5px
        &-text
            font-style: normal
            font-weight: bold
            font-size: 14px
            line-height: 20px
            color: #FFFFFF
    &__prev
        text-decoration: none
        margin-right: 20px
        &-icon
            width: 15px
            height: 7px
            margin-right: 5px
        &-text
            font-style: normal
            font-weight: bold
            font-size: 14px
            line-height: 20px
            color: #FFFFFF
    &__next
        text-decoration: none
        &-icon
            width: 15px
            height: 7px
        &-text
            margin-right: 5px
            font-style: normal
            font-weight: bold
            font-size: 14px
            line-height: 20px
            color: #FFFFFF
    &__title
        font-family: Roboto Slab
        font-style: normal
        font-weight: bold
        font-size: 55px
        line-height: 70px
        color: #FFFFFF
    &__time
        &-icon
            width: 13px
            height: 13px
    &__likes
        &-icon
            width: 13px
            height: 12px
    &__comments
        &-icon
            width: 13px
            height: 13px

