.swiper
    &-pagination
        &-bullets
            display: flex
            justify-content: space-between
            width: 113px
            z-index: 1
            margin-top: -10px
        &-bullet
            width: 8px
            height: 8px
            background-color: #D9DADB
            display: inline-block
            border-radius: 50%
            margin: 0 3px
            outline: none
            cursor: pointer
            &-active                
                background-color: $white
                position: relative
                &::before
                    content: ''
                    width: 16px
                    height: 16px
                    background-color: transparent
                    border-radius: 50%
                    border: 2px solid $white
                    position: absolute
                    transform: translate(-50%, -30%)
                    z-index: 10
.useful
    background-color: $dark
    height: 100%
    &-swiper
        width: 555px
        height: 570px
        margin-left: 0
        margin-right: 30px
        display: flex
        justify-content: center
    &__container
        display: flex
        flex-direction: column
        flex-wrap: wrap
        height: 690px
        padding: 60px 0
    &__hot
        position: relative
        background-size: cover
        background-repeat: no-repeat
        height: 100%
        width: 100%
        padding: 0 18px
        display: flex
        flex-wrap: wrap
        align-content: space-between
        justify-content: center
        border-radius: 10px
        overflow: hidden
        &--1
            background-image: url(../img/useful/slide-1.jpg)
        &--2
            background-image: url(../img/useful/slide-2.jpg)
        &--3
            background-image: url(../img/useful/slide-3.jpg)
        &--4
            background-image: url(../img/useful/slide-4.jpg)
        &--5
            background-image: url(../img/useful/slide-5.jpg)        
        &::after
            content: ''
            position: absolute
            width: 100%
            height: 100%
            top: 0
            right: 0
            bottom: 0
            left: 0
            background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35))
    &-hot
        &__label
            position: absolute
            top: 18px
            left: 18px
            padding: 5px 12px
            background-color: #FF4F52
            border-radius: 3px
            font-style: normal
            font-weight: bold
            font-size: 12px
            line-height: 15px
            color: $white
            z-index: 1
        &__author
            display: flex
            flex-wrap: wrap
            justify-content: center
            max-width: 145px  
            margin-top: 50px
            z-index: 1
        &__avatar
            border-radius: 50%  
            margin-bottom: 10px        
        &__name
            font-style: normal
            font-weight: normal
            font-size: 14px
            line-height: 20px
            color: $white
            opacity: 0.85
        &__profession
            font-style: normal
            font-weight: normal
            font-size: 12px
            line-height: 15px
            color: $white
            opacity: 0.4
        &__title
            margin: 0
            font-family: Roboto Slab
            font-style: normal
            font-weight: bold
            font-size: 40px
            line-height: 50px
            text-align: center
            color: $white
            flex-basis: 470px
            z-index: 1
        &__watch
            padding: 10px 25px 10px 20px
            background: #4592FF
            border-radius: 20px
            vertical-align: center
            text-decoration: none
            font-style: normal
            font-weight: bold
            font-size: 14px
            line-height: 20px
            color: $white
            display: flex
            align-items: center
            margin-bottom: 164px
            z-index: 1
        &__image
            margin-right: 10px
        &__text
            margin-right: 5px
        &__number
            font-style: normal
            font-weight: normal
            font-size: 14px
            line-height: 20px
            color: #C5E4FC
    &__pagination
        position: absolute
        width: 108px
        bottom: 40px
    &__careers
        position: relative
        background-color: #B4D1E0
        padding: 18px 30px 0 35px
        height: 370px
        width: 555px
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: space-between
        border-radius: 10px
        margin-bottom: 30px
    &-careers
        &__category
            font-style: normal
            font-weight: bold
            font-size: 12px
            line-height: 15px
            letter-spacing: 0.5px
            text-transform: uppercase
            color: #6E99AE
            margin-top: 17px
            z-index: 1
        &__title
            font-family: Roboto Slab
            font-style: normal
            font-weight: bold
            font-size: 25px
            line-height: 30px
            color: $dark
            width: 53%
            z-index: 1
        &__text
            font-style: normal
            font-weight: normal
            font-size: 14px
            line-height: 20px
            color: #4B5157
            width: 40%
            margin-bottom: 25px
            z-index: 1
        &__more
            font-style: normal
            font-weight: bold
            font-size: 14px
            line-height: 20px
            color: $white
            padding: 10px 20px 10px 25px
            background-color: #4592FF
            border-radius: 20px
            margin-bottom: 50px
            text-decoration: none
            z-index: 1
        &__arrow
            margin-left: 5px
        &__oval
            position: absolute
            right: 30px
            bottom: 45px
        &__image
            position: absolute
            right: 49px
            bottom: 0
    &__others
        display: flex
        justify-content: space-between
        max-width: 555px        
        height: 170px 
    &__other    
        display: flex
        flex-direction: column
        justify-content: space-between
        border-radius: 10px
        background-color: $white
        padding: 25px 25px 30px 25px
        text-decoration: none
        flex-basis: 50%
        &--1
            margin-right: 30px
    &-other
        &__title
            margin: 0
            font-family: Roboto Slab
            font-style: normal
            font-weight: bold
            font-size: 16px
            line-height: 25px
            color: $dark
        &__text
            font-style: normal
            font-weight: normal
            font-size: 14px
            line-height: 20px
            color: #4B5157
        &__date
            font-style: normal
            font-weight: normal
            font-size: 12px
            line-height: 15px
            color: #939699

        





        
